<div class="calificacion-usuario-gird-container">
  <app-calificacion-usuario-card [nombre]="nombreUsuario"
                                [imagen]="ImagenUsuario"
                                [calificacionPromedio]="calificacionPromedio">
  </app-calificacion-usuario-card>
</div>
<div class="comment-container">
    <h2>Deja un comentario</h2>
    <form class="add-user-container" (ngSubmit)="onSubmit(frm)" autocomplete="off" #frm="ngForm" >
      <div class="form-group">
        <input type="textarea"  id="comentario" [(ngModel)]="comentario"  name="comentario" placeholder="Deja un coimentario" required>
      </div>
      <div class="row">
        <label for="comment">Agrega tu calificacion</label>
        <div class="col-sm-12">
            <ul class="list-inline rating-list" 
                *ngFor="let star of stars" style="display: inline-block" >
                  <li (click)="countStar(star)"
                      [ngClass]="{'selected': (star <= selectedValue)}">
                    <i class="fa fa-star"></i>
                  </li> 
            </ul>
        </div>
      </div>
      <button type="submit">Enviar</button>
      @if(editSuccess) {
        <div class="mt-3 d-flex justify-content-center align-items-center">
            <p class="text-success">Datos guardados</p>
        </div>
    }
    </form>
  </div>

  //pasar el valor del imput al valort del onSubmit asiganr ese valor al Usuariocalifcion a la variable que creamis ICalificacionUsuario