.solicitudes-container {
    padding: 50px 250px;
    padding-bottom: 35px;
}

.tabs-container {
    display: flex;
    flex-wrap: wrap;
}

.tabs__label {
    font-size: 18px;
    padding: 15px 30px;
    cursor: pointer;
    border: #01c38e 1px solid;
    color: #01c38e;
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tabs__radio {
    display: none;
}

.tabs__label:hover {
    background-color: #01c38e;
    color: white;
    transition: ease 150ms;
}

.tabs__content {
    order: 1;
    width: 100%;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 0px 15px 0px #cbcdcf;
    clip-path: inset(0px -15px -15px -15px);
    display: none;
    overflow: scroll;
    height: 60vh;
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;
}

.tabs__radio:checked+.tabs__label {
    background-color: #01c38e;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.tabs__radio:checked+.tabs__label+.tabs__content {
    display: initial;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.texto-error {
    color: rgb(187, 187, 187);
    font-size: 35px;
    padding-top: 25vh;
}

.search-bar {
    background-color: #01c38e;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px 30px;
}

.item-wrapper {
    padding: 20px 30px;
}

.form-select {
    margin-left: 15px;
    width: fit-content;
    height: fit-content;
}

.fa-magnifying-glass {
    font-size: 20px;
    color: white;
    margin-top: 8px;
}

.fa-rotate-right {
    color: white;
}

.btn-reset {
    background-color: #132d46;
    height: min-content;
}

.background-blue {
    border-radius: 5px;
    align-content: center;
}

.background-blue:hover {
    opacity: 0.7;
}