.editar-perfil {
    color: #132d46;
}

.green-button {
    background-color: #01c38e;
    border: unset;
}

.button-wrapper {
    margin-left: 43%;
}

.hidden {
    display: none;
} 

.success-feedback {
    margin-left: 41%;
}