.editar-perfil {
    color: #132d46;
}

.hidden {
    display: none;
}

.uploaded-photo {
  max-width: 100px !important;
  width: 100px;
  max-height: 100px !important;
  height: 100px !important;
  display: block;
  object-fit:cover;
}

.uploaded-photo-container {
  border-radius: 100px;
  border: #01c38e solid 2px;
  max-height: 100px;
  max-width: 100px;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  overflow: hidden;
}

.photo-btn {
  display: none;
}

.btn-green {
  background-color: #01c38e;
  color: white;
}

.btn-green:hover {
  background-color: #01916a;
}