.perfil-container {
    height: 100vh;
    // background-image: url("../../../../assets/img/login/login-bg.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 20%;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según necesites */
      z-index: 1;
    }
    .perfil-card {
      position: relative;
      z-index: 2;
      width: 80%;
      padding: 40px;
      border-radius: 10px;
      margin: 0 auto;
      background-color: #fff;
    }
    @media screen and (min-width: 801px) and (max-width: 1500px) {
      padding: 20px 5%;
      .login-card {
        width: 60%;
        .login-main {
          padding: 0px;
          
        }
      }
    }
    @media screen and (max-width: 800px) {
      padding: 20px 5%;
      .login-card {
        width: 100%;
        .login-main {
          padding: 0px;
          
        }
      }
    }
  }
  
  .logo-rentheaven {
    padding-bottom: 30px;
    width: 20%;
  }

  .perfil-container::before {
    height: 100;
    background: none;
  }
  
  .perfil-container {
    height: auto;
  }
  
  .footer {
    background-color: #132d46;
    margin: 0;
  }
  
  .no-underline {
    text-decoration: none;
  }
  
  .green-text-rh {
    color: #01c38e;
  }
  
  .green-button {
    background-color: #01c38e;
    border: #01c38e;
  }
  
  .login-button {
    padding-left: 99px;
  }
  
  .padding-right {
    padding-right: 20px;
  }

  .text-detalle {
    color: #132d46;
  }

  .text-green {
    color: #01c38e;
  }

  .foto-perfil {
    border: #01c38e 2px solid;
    border-radius: 100px;
    width: 100px !important;
    max-width: 100px !important;
    max-height: 100px !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .foto {
    max-width: 100px !important;
    width: 100px;
    max-height: 100px !important;
    height: 100px !important;
    display: block;
    object-fit:cover;
  }

  .perfil-nombre {
    padding-top: 30px;
    padding-left: 20px;
  }

  .perfil-text {
    font-size: 18px;
  }

  .ubicacion-wrapper {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 35px;
    box-shadow:  0 8px 6px -6px rgba(1, 195, 142, 0.1);
    text-align: center;
  }

  .perfil-ubicacion-text {
    font-size: 16px;
  }

  .perfil-edit {
    padding-top: 45px;
    padding-left: 25px;
    color: #132d46;
  }

  .perfil-edit:hover {
    opacity: 70%;
    cursor: pointer;
  }

  .btn-volver-home {
    padding-top: 6px;
    background-color: #01c38e;
}

.btn-volver-home:hover {
    background-color: #01916a;
}

.texto-white {
    color: white;
}

.fa-arrow-left {
    color: white;
}

.btn-calificar {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #01c38e;
  color: white;
  float: right;
  

}

.coments{
   margin-top: 50px;
}