.page-header{
    margin-left: 0px !important;
    width: 100% !important;
}

.header-background {
    background-color: #01c38e;
}

.no-padding-left {
    padding-left: 0;
}

.nav-rentheaven {
    flex-wrap: nowrap;
    width: 0;
}

.perfil {
    justify-content: right !important;
}

@media (min-width: 1400px) {
    .col-xxl-7 {
        width: 50%;
    }
}