.page-header{
    margin-left: 0px !important;
    width: 100% !important;
}

.header-background {
    background-color: #01c38e;
}

.no-padding-left {
    padding-left: 0;
}

.nav-rentheaven {
    flex-wrap: nowrap;
    width: 0;
}

.perfil {
    justify-content: right !important;
}

@media (min-width: 1400px) {
    .col-xxl-7 {
        width: 50%;
    }
}

.nav-link {
    color: white;
    padding-right: 20px;
    text-decoration: none;
}

.nav-link:hover {
    opacity: 0.8;
}

.navbar-brand {
    margin-bottom: 0 !important;
}

.logo-white {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}

.a-logo {
    text-decoration: none;
    color: white;
}