<div class="page-header text-white header-background">
  <div class="header-wrapper row m-0 nav-rentheaven">
    <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 right-header p-0">
      <ul class="nav-menus mb-0 no-padding-left justify-content-start">
        <li class="navbar-brand mb-0 h1 col-10">
          <span>
            <strong>RentHeaven</strong>
          </span>
        </li>
      </ul>
    </div>
    <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 right-header p-0">
      <ul class="nav-menus mb-0 no-padding-left perfil">
        <li class="profile-nav onhover-dropdown pe-0 py-0">
          <app-my-account></app-my-account>
        </li>
      </ul>
    </div>
  </div>
</div>