<div class="page-wrapper compact-wrapper">
    <app-topbar></app-topbar>
    <div class="login-container">
      <div class="d-flex align-items-center justify-content-center h-100">
        <div class="login-card">
          <div class="w-100">
            <div class="text-center">
              <a class="logo text-center">
                <img
                  class="img-fluid mb-4 logo-rentheaven"
                  src="../../../../assets/icons/rentheavenlogo.png"
                  alt="Logo"
                />
              </a>
            </div>
            <div class="login-main">
              <form autocomplete="off" #frm="ngForm" (ngSubmit)="onSubmit(frm)">
                <div class="mb-3">
                  <h1>
                    <strong>Resetear contraseña</strong>
                  </h1>
                  <small style="color: #4f4f4f">
                    Ingrese su token y su nueva contraseña
                  </small>
                </div>
  
                <div class="form-group mb-3">
                  <label for="token" class="form-label mb-2">
                    Token
                  </label>
                  <input #email="ngModel" type="text" class="form-control" id="token" name="Token"
                    placeholder="Token" [(ngModel)]="sendForm.token" [ngClass]="{
                      'is-invalid': email.invalid && email.touched,
                      'is-valid': email.valid && email.touched
                    }" required />
                  <div *ngIf="email.invalid" class="invalid-feedback">
                    Digite token valido o vigente
                  </div>
                </div>

                <div class="form-group mb-3">
                    <label for="newPassword" class="form-label mb-2">
                      Nueva contraseña
                    </label>
                    <input #email="ngModel" type="text" class="form-control" id="newPassword" name="newPassword"
                      placeholder="Password" [(ngModel)]="sendForm.newPassword" [ngClass]="{
                        'is-invalid': email.invalid && email.touched,
                        'is-valid': email.valid && email.touched
                      }" required />
                    <div *ngIf="email.invalid" class="invalid-feedback">
                      Digite una contraseña valida
                    </div>
                  </div>
  
                <div class="d-flex align-items-center mb-3">
                  <a href="/login"  class="no-underline green-text-rh">
                    Volver a iniciar sesion
                  </a>
                  <div class="form-group mb-0 login-button">
                    <button class="btn btn-primary btn-block w-100 green-button" type="submit">
                      Reiniciar contraseña
                    </button>
                    @if(validRequest) {
                      <p class="text-success">Contraseña cambiada correctamente</p>
                    }
                    @if(requestError) {
                      <p class="text-danger">Oops, algo salio mal</p>
                    }
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 footer-copyright">
            <p class="mb-0 text-white">
              &copy; <span class="number">2024</span> RentHeaven. Todos los derechos reservados.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>