.invalid-container {
    height: 100vh;
}

.invalid-card {
    padding: 20px 40px;
}

.btn-volver-inicio {
    padding-top: 6px;
    background-color: #01c38e; 
}

.btn-volver-inicio:hover {
    background-color: #01916a;
}

.texto-white {
    color: white;
    padding-left: 10px;
}

.fof {
    text-align: center;
}