.titulo {
    color: #132d46;
}

.titulo-container {
    padding-top: 60px;
    margin-left: 35px;
}

.btn-volver-home {
    padding-top: 6px;
    background-color: #01c38e;
}

.btn-volver-home:hover {
    background-color: #01916a;
}

.texto-white {
    color: white;
    padding-left: 10px;
}

.fa-arrow-left {
    color: white;
}