    <div class="login-container">    
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="login-card">
            <div class="w-100">
                <div class="text-center container-img" (click)="verDetalle(propiedad.propiedadId, accountRequired)">
                    <img
                    class="logo-rentheaven"
                    [src]="propiedad.listaImagenes![0].imagen ? 'data:image/jpeg;base64,' + propiedad.listaImagenes![0].imagen : 'assets/img/login/noImageFound.jpg'"
                    alt="Primera imágen de propiedad"
                    />
                </div>
                <div class="login-main">
                    <div class="mb-3">
                    <h1 class="propiedad-nombre">
                        <strong>{{propiedad.nombre}}</strong>
                    </h1>
                    <p style="color: #4f4f4f">
                        <span *ngIf="propiedad.cuartosCant! !== 1">{{propiedad.cuartosCant}} dormitorios, </span>
                        <span *ngIf="propiedad.banniosCant! !== 1">{{propiedad.banniosCant}} baños</span>
                        <span *ngIf="propiedad.cuartosCant! === 1">{{propiedad.cuartosCant}} dormitorio, </span>
                        <span *ngIf="propiedad.banniosCant! === 1">{{propiedad.banniosCant}} baño</span>
                    </p>
                    </div>

                    <div class="mb-3">
                        <p class="mb-2" style="color: #4f4f4f">
                            Distrito {{propiedad.ubicacion?.distrito?.nombre}}, Cantón {{propiedad.ubicacion?.canton?.nombre}}, Provincia {{propiedad.ubicacion?.provincia?.nombre}}
                        </p>
                    </div>

                    <div class="mb-3">
                        <p class="mb-2" style="color: #4f4f4f">Ver seguridad</p>
                    </div>

                    <div class="d-flex align-items-center mb-3">
                        <div class="estrellas-container"></div>
                        <span class="fa fa-xl fa-star checked"></span>
                        <span class="fa fa-xl fa-star checked"></span>
                        <span class="fa fa-xl fa-star checked"></span>
                        <span class="fa fa-xl fa-star"></span>
                        <span class="fa fa-xl fa-star"></span>
                        <div class="form-group mb-0 login-button">
                            <button class="btn btn-primary btn-block w-100 green-button">
                               Contactar Propietario
                            </button>
                        </div>
                        <div *ngIf="isOwnerOrSpecificPage()" class="btn-style">
                            <button type="button" (click)="showDelete(propiedad, deleteModal)" class="btn">
                              <i class="fa-solid fa-trash white trash-icon"></i>
                            </button>
                          </div>
                          
                    </div>
                </div>
            </div>
            </div>
    </div>

    <app-modal #accountRequired>
        <div class="d-flex justify-content-center align-items-center text-wrapper">
            <h1>Para ver el detalle de las propiedades, inicie sesión</h1>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-green" (click)="goLogin(accountRequired)">Iniciar Sesión</button>
        </div>
    </app-modal>

    <app-modal #deleteModal>
        <div class="d-flex justify-content-center align-items-center margin">
          <div class="delete-wrapper">
          </div>
            <h1>
              <span class="text-danger"><strong>¿ Quieres borrar la propiedad con ID: {{propiedad.propiedadId}} ?</strong></span>
            </h1>
            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-danger" (click)="deletePropiedad(propiedad)"><i class="fa-solid fa-trash fa-l"></i>&nbsp;&nbsp;Borrar</button>
            </div>
            <div *ngIf="successStatus" class="d-flex justify-content-center align-items-center">
              <p class="delete-success">{{successMessage}}</p>
          </div>
        </div>
      </app-modal>