.users-container {
    padding: 50px 150px;
    padding-bottom: 35px;
}

.btn-container {
    padding-left: 15px;
}

.table-container {
    margin-top: 20px;
}

.texto-blue {
    margin: 0;
}

.search-bar {
    margin-bottom: 15px;
    width: 20%;
    box-shadow: 1px 1px 10px 1px #cbcdcf;
}

.table-wrapper {
    box-shadow: 1px 1px 10px 1px #cbcdcf;
}