<div class="ltr">
  <div class="page-wrapper compact-wrapper">
    <app-topbar></app-topbar>

    <div class="page-body-wrapper">
      

      <div class="page-body">
        <main class="container-fluid">
          <router-outlet></router-outlet>
        </main>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 footer-copyright">
        <p class="mb-0 text-white">
          &copy; <span class="number">2024</span> RentHeaven. Todos los derechos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- <div
  class="bg-overlay"
  [ngClass]="{ active: layoutService.sidebarOpen }"
></div> -->