<div class="propiedad-container d-flex">
    <div class="propiedad-imagenes-container">
        <app-imagen [verCarousel]="true"
                    [verTabla]="false"
                    [verRegistro]="false"
                    [listaImagenes]="propiedad.listaImagenes ?? []"
        ></app-imagen>
    </div>
    <div class="propiedad-info-container">
        <div class="d-flex">
            <h1 class="texto-azul"><strong>{{propiedad.nombre}}</strong></h1>
            <div class="estrellas-container">
                
                <app-calificacion-propiedad-card  [propiedadId]="propiedadId"></app-calificacion-propiedad-card>
                
        
            </div>
        </div>
        
        <app-modal #CalificacionPropiedad>
            <app-calificacion-propiedad
            [propiedadCalificadaId]="propiedadId.toString()"
              [usuarioCalificadorId]="currentUserId"
            >
            </app-calificacion-propiedad>
          </app-modal>




        <div>
            <h3>
                <strong>Propietario: </strong>
                <a [href]="'/app/perfil/' + propiedad.user?.id" class="texto-verde">{{propiedad.user?.nombre}} {{propiedad.user?.apellido}}</a>
            </h3>
            <div class="d-flex">
                <h4 *ngIf="propiedad.disponibilidad"><strong>Disponibilidad:</strong> Disponible</h4>
                <h4 *ngIf="!propiedad.disponibilidad"><strong>Disponibilidad:</strong> No disponible</h4>
                <h4 class="texto-margin-left"><strong>Tipo:</strong> {{propiedad.tipoPropiedad?.nombre}}</h4>
                <h4 class="texto-margin-left"><strong>Año de construcción:</strong> {{propiedad.annioConstruccion}}</h4>
            </div>
            <div class="d-flex">
                <h4><strong>Cuartos:</strong> {{propiedad.cuartosCant}}</h4>
                <h4><span class="texto-margin-left"><strong>Baños:</strong> {{propiedad.banniosCant}}</span></h4>
                <h4><span class="texto-margin-left"><strong>Area:</strong> {{propiedad.metrosCuadrados}}m<sup>2</sup></span></h4>
            </div>
            <div class="d-flex">
                <h4><strong>Provincia:</strong> {{propiedad.ubicacion?.provincia?.nombre}}</h4>
                <h4><span class="texto-margin-left"><strong>Cantón:</strong> {{propiedad.ubicacion?.canton?.nombre}}</span></h4>
                <h4><span class="texto-margin-left"><strong>Distrito:</strong> {{propiedad.ubicacion?.distrito?.nombre}}</span></h4>
            </div>
            <div class="d-flex text-wrap" *ngIf="propiedad.amenidades && propiedad.amenidades.length > 0">
                <h4><strong>Amenidades:&nbsp;</strong></h4>
                <div *ngFor="let amenidad of propiedad.amenidades; let i = index">
                    <h4 class="text-nowrap" *ngIf="i === propiedad.amenidades!.length - 1">{{amenidad.nombre}}</h4>
                    <h4 class="text-nowrap" *ngIf="i !== propiedad.amenidades!.length - 1">{{amenidad.nombre}},&nbsp;</h4>
                </div>
            </div>
            <hr>
            <h3>{{propiedad.descripcion}}</h3>
        </div>
        <div class="d-flex align-items-center">
            @if(propiedad.moneda === "USD") {
                <h1 class="texto-azul texto-moneda"><strong>$ {{propiedad.precio}}/mes</strong></h1>
            }
            @if(propiedad.moneda === "CRC") {
                <h1 class="texto-azul texto-moneda"><strong>₡ {{propiedad.precio}}/mes</strong></h1>
            }
            @if(propiedad.disponibilidad) {
                <button class="btn btn-rentar" (click)="showModal(solicitudRenta)">Rentar</button>
                <button class="btn btn-propietario">Contactar Propietario</button>
            }
            <button class="btn btn-propietario">Ver Tour 3D</button>
            <div *ngIf="id === currentUserId">
                <i class="fa-solid fa-pen-to-square fa-2xl propiedad-edit" (click)="showDetail(propiedad, formModal)"></i>
            </div>
        </div>
    </div>
    
</div>
<div class="coments">
<h3>
    <strong>Comentarios y calificaciones: </strong>
    <button class="btn btn-calificar" (click)="calificarPropiedad(CalificacionPropiedad)">
        <span class="texto-white">Dejar un comentario</span>
      </button>
</h3>
<app-comentario-propiedad [propiedadId]="propiedadId"></app-comentario-propiedad>
</div>

<app-modal #solicitudRenta>
    <div class="solicitud-wrapper">
        <form [formGroup]="rentaForm" (ngSubmit)="onSubmit(solicitudRenta)" *ngIf="userId !== propiedad.user?.id">
            <h1 class="texto-blue"><strong>Solicitud de Renta</strong></h1>
            <p class="input-label">Llena los siguientes datos para mandar una solicitud de renta al propietario</p>
            <hr>
            <div class="d-flex dates-wrapper">
                <div class="fecha-input-wrapper">
                    <label class="input-label" for="fechaInicio"><strong>Fecha de inicio <span class="text-danger">*</span></strong></label>
                    <input class="form-control" type="date" formControlName="fechaInicio" required>
                </div>
        
                <div class="fecha-input-wrapper">
                    <label class="input-label" for="fechaFin"><strong>Fecha de fin <span class="text-danger">*</span></strong></label>
                    <input class="form-control" type="date" formControlName="fechaFin" required>
                </div>
            </div>
            <div *ngIf="rentaForm.errors?.['dateNotAfterToday']" class="error-message input-label text-danger pb-3">
                *Las fechas no pueden ser de hoy o antes.
            </div>
            <div *ngIf="rentaForm.errors?.['dateRangeInvalid']" class="error-message input-label text-danger pb-3">
                *La fecha de fin debe ser después de la fecha de inicio.
            </div>
            <label for="comentario" class="input-label"><strong>Comentario</strong></label>
            <textarea class="form-control text-area" formControlName="comentario" placeholder="Escribe un comentario"></textarea>
            <div class="d-flex justify-content-center align-items-center btn-enviar-wrapper">
                <button class="btn btn-rentar" [disabled]="rentaForm.invalid">Enviar Solicitud</button>
            </div>
            <div class="success input-label d-flex align-items-center justify-content-center" *ngIf="formSuccess">
                <span class="text-success">Solicitud enviada, redireccionando...</span>
            </div>
        </form>
        <div *ngIf="userId === propiedad.user?.id" class="d-flex justify-content-center align-items-center danger-text-wrapper">
            <span class="text-danger own-property">
                * No puedes rentar una propiedad que te pertenezca
            </span>
        </div>
    </div>
</app-modal>
           
<div class="padding-left">
    <div class="button-container">
        <btn-inicio></btn-inicio>
        <div *ngIf="id === currentUserId">
            <img class="fa-solid fa-2xl propiedad-edit img-edit" src="../../../assets/icons/editar-imagen.png" (click)="showImg(listaImagenes, imgModal)" alt="edit" />
            <!-- <i class="fa-solid fa-star fa-2xl propiedad-edit img-edit" (click)="showImg(listaImagenes, imgModal)"></i> -->
        </div>
    </div>
</div>
<div class="bottom-margin">
    <app-modal size="lg" #formModal class="large-modal">
        <app-form-propiedad
        [propiedad]="propiedad"></app-form-propiedad>
    </app-modal>

</div>

  <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <!-- Contenido del modal -->
        <app-modal size="lg" #imgModal class="large-modal">
            <form #frm="ngForm" autocomplete="off">
                <div class="img-selection">
                    <h2>Sección de imágenes</h2>
                    <app-imagen
                    [listaImagenes]="imagenService.imagenesPropiedad$()"
                    [propiedadImagen]="propiedad"
                    [verRegistro]="true"
                    [verCarousel]="false"
                    (regImagenes)="onImagenesRegistrar($event)">
                    </app-imagen>
                  </div>
                  <div class="d-flex justify-content-center inline-flex">
                    <button type="submit" class="btn btn-green" (click)="handleUpdate(frm)">Actualizar imagenes de propiedad</button>
                  </div>
                  @if(editSuccess) {
                    <div class="mt-3 d-flex justify-content-center align-items-center">
                        <p class="text-success">Datos guardados</p>
                    </div>
                }
            </form>
        </app-modal>
    </div>
  </div>
