.propiedad-container {
    margin: 0 10%;
    padding-top: 50px;
}

.propiedad-info-container {
    padding-top: 20px;
    padding-left: 25px;
    width: 45%;
}

.propiedad-imagenes-container {
    width: 55%;
}

.texto-azul {
    color: #132d46;
}

.texto-verde {
    color: #01c38e;
}

.texto-moneda {
    margin: 0;
}

.texto-margin-left {
    margin-left: 15px;
}

.fa-star {
    padding-top: 14px;
}

.estrellas-container {
    margin-left: 15px;
}

.checked {
    color: #01c38e;
}

.btn-propietario {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    background-color: black;
    color: white;
}
.btn-calificar {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    background-color: #01c38e;
    color: white;
}
.btn-tour-3d {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    border: 1px solid rgb(206, 206, 206);
}

.bottom-margin {
    margin-bottom: 8%;
}

.padding-left {
    padding-left: 200px;
}