<div class="propiedad-container d-flex">
    <div class="propiedad-imagenes-container">
        <app-imagen [verCarousel]="true"
                    [verTabla]="false"
                    [verRegistro]="false"
                    [listaImagenes]="propiedad.listaImagenes ?? []"
        ></app-imagen>
    </div>
    <div class="propiedad-info-container">
        <div class="d-flex">
            <h1 class="texto-azul"><strong>{{propiedad.nombre}}</strong></h1>
            <div class="estrellas-container">
                <span class="fa fa-xl fa-star checked"></span>
                <span class="fa fa-xl fa-star checked"></span>
                <span class="fa fa-xl fa-star checked"></span>
                <span class="fa fa-xl fa-star"></span>
                <span class="fa fa-xl fa-star"></span>
            </div>
        </div>
        <div>
            <h4>Tipo: {{propiedad.tipoPropiedad?.nombre}}</h4>
            <div class="d-flex">
                <h4>Cuartos: {{propiedad.cuartosCant}}</h4>
                <h4><span class="texto-margin-left">Baños: {{propiedad.banniosCant}}</span></h4>
                <h4><span class="texto-margin-left">Area: {{propiedad.metrosCuadrados}}m<sup>2</sup></span></h4>
            </div>
            <h4>Año de construcción: {{propiedad.annioConstruccion}}</h4>
            <h3>{{propiedad.descripcion}}</h3>
        </div>
        <div class="d-flex align-items-center">
            @if(propiedad.moneda === "USD") {
                <h1 class="texto-azul texto-moneda"><strong>$ {{propiedad.precio}}/mes</strong></h1>
            }
            @if(propiedad.moneda === "CRC") {
                <h1 class="texto-azul texto-moneda"><strong>₡ {{propiedad.precio}}/mes</strong></h1>
            }
            <button class="btn btn-propietario">Contactar Propietario</button>
            <button class="btn btn-tour-3d">Ver Tour 3D</button>
        </div>
    </div>
</div>
<button href="app/home" class="btn btn-volver-home propiedad-container" (click)="volverInicio()">
    <i class="fa-solid fa-arrow-left fa-xl"></i> <span class="texto-white">Volver a Inicio</span>
</button>
<div class="bottom-margin"></div>