<div class="propiedad-container d-flex">
    <div class="propiedad-imagenes-container">
        <app-imagen [verCarousel]="true"
                    [verTabla]="false"
                    [verRegistro]="false"
                    [listaImagenes]="propiedad.listaImagenes ?? []"
        ></app-imagen>
    </div>
    <div class="propiedad-info-container">
        <div class="d-flex">
            <h1 class="texto-azul"><strong>{{propiedad.nombre}}</strong></h1>
            <div class="estrellas-container">
                
                <app-calificacion-propiedad-card  [propiedadId]="propiedadId"></app-calificacion-propiedad-card>
                
        
            </div>
        </div>
        
        <app-modal #CalificacionPropiedad>
            <app-calificacion-propiedad
            [propiedadCalificadaId]="propiedadId.toString()"
              [usuarioCalificadorId]="currentUserId"
            >
            </app-calificacion-propiedad>
          </app-modal>




        <div>
            <h3>
                <strong>Propietario: </strong>
                <a [href]="'/app/perfil/' + propiedad.user?.id" class="texto-verde">{{propiedad.user?.nombre}} {{propiedad.user?.apellido}}</a>
            </h3>
            <div class="d-flex">
                <h4 *ngIf="propiedad.disponibilidad"><strong>Disponibilidad:</strong> Disponible</h4>
                <h4 *ngIf="!propiedad.disponibilidad"><strong>Disponibilidad:</strong> No disponible</h4>
                <h4 class="texto-margin-left"><strong>Tipo:</strong> {{propiedad.tipoPropiedad?.nombre}}</h4>
                <h4 class="texto-margin-left"><strong>Año de construcción:</strong> {{propiedad.annioConstruccion}}</h4>
            </div>
            <div class="d-flex">
                <h4><strong>Cuartos:</strong> {{propiedad.cuartosCant}}</h4>
                <h4><span class="texto-margin-left"><strong>Baños:</strong> {{propiedad.banniosCant}}</span></h4>
                <h4><span class="texto-margin-left"><strong>Area:</strong> {{propiedad.metrosCuadrados}}m<sup>2</sup></span></h4>
            </div>
            <div class="d-flex">
                <h4><strong>Provincia:</strong> {{propiedad.ubicacion?.provincia?.nombre}}</h4>
                <h4><span class="texto-margin-left"><strong>Cantón:</strong> {{propiedad.ubicacion?.canton?.nombre}}</span></h4>
                <h4><span class="texto-margin-left"><strong>Distrito:</strong> {{propiedad.ubicacion?.distrito?.nombre}}</span></h4>
            </div>
            <div class="d-flex text-wrap" *ngIf="propiedad.amenidades && propiedad.amenidades.length > 0">
                <h4><strong>Amenidades:&nbsp;</strong></h4>
                <div *ngFor="let amenidad of propiedad.amenidades; let i = index">
                    <h4 class="text-nowrap" *ngIf="i === propiedad.amenidades!.length - 1">{{amenidad.nombre}}</h4>
                    <h4 class="text-nowrap" *ngIf="i !== propiedad.amenidades!.length - 1">{{amenidad.nombre}},&nbsp;</h4>
                </div>
            </div>
            <h3>{{propiedad.descripcion}}</h3>
        </div>
        <div class="d-flex align-items-center">
            @if(propiedad.moneda === "USD") {
                <h1 class="texto-azul texto-moneda"><strong>$ {{propiedad.precio}}/mes</strong></h1>
            }
            @if(propiedad.moneda === "CRC") {
                <h1 class="texto-azul texto-moneda"><strong>₡ {{propiedad.precio}}/mes</strong></h1>
            }
            @if(propiedad.disponibilidad) {
                <button class="btn btn-propietario">Contactar Propietario</button>
            }
            <button class="btn btn-tour-3d">Ver Tour 3D</button>
        </div>
    </div>
    
</div>
<div class="coments">
<h3>
    <strong>Comentarios y calificaciones: </strong>
    <button class="btn btn-calificar" (click)="calificarPropiedad(CalificacionPropiedad)">
        <span class="texto-white">Calificar Propiedad</span>
      </button>
</h3>
<app-comentario-propiedad></app-comentario-propiedad>
</div>
<div class="padding-left">
    <btn-inicio></btn-inicio>
</div>
<div class="bottom-margin"></div>