.propiedad-container {
    margin: 0 10%;
    padding-top: 50px;
}

.propiedad-info-container {
    padding-top: 20px;
    padding-left: 25px;
    width: 45%;
}

.propiedad-imagenes-container {
    width: 55%;
}

.texto-azul {
    color: #132d46;
}

.texto-verde {
    color: #01c38e;
}

.texto-moneda {
    margin: 0;
}

.texto-margin-left {
    margin-left: 15px;
}

.fa-star {
    padding-top: 14px;
}

.estrellas-container {
    margin-left: 15px;
}

.checked {
    color: #01c38e;
}

.btn-propietario {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    background-color: #132d46;
    color: white;
}

.btn-propietario:hover {
    opacity: 0.7;
    transition: ease 100ms;
}

.btn-rentar {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    background-color: #01c38e;
    color: white;
}

.btn-rentar:hover {
    opacity: 0.7;
    transition: ease 100ms;
}

.btn-tour-3d {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 10px;
    border: 1px solid rgb(206, 206, 206);
}

.bottom-margin {
    margin-bottom: 8%;
}

.padding-left {
    padding-left: 200px;
}

.solicitud-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.input-label {
    font-size: 16px;
}

.fecha-input-wrapper {
    padding-right: 50px;
}

.btn-enviar-wrapper {
    padding-top: 30px;
}

.dates-wrapper {
    padding-bottom: 30px;
}

.text-area {
    resize: none;
    height: 100px;
}

.success {
    padding-top: 15px;
}

.own-property {
    text-align: center;
    font-size: 22px;
}

.danger-text-wrapper {
    padding-bottom: 15px;
}
.propiedad-edit {
    margin-left: 25px;
    color: #132d46;
}

.propiedad-edit:hover {
    opacity: 70%;
    cursor: pointer;
  }

  /* Archivo CSS o SCSS */
.large-modal {
    max-width: 100%; /* O cualquier porcentaje de ancho que necesites */
    max-height: 100%; /* O cualquier porcentaje de alto que necesites */
    width: auto;
    height: auto;
    padding: 20px; /* Ajusta el padding según tus necesidades */
  }
  
  .large-modal .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  
  .img-edit {
    margin-left: 900px;
    width: 40px;
  }

  .button-container {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 55px;
  }

  .img-selection {
    margin: 5%;
}

.btn-green {
    background-color: #01c38e;
    color: white;
  }
  
  .btn-green:hover {
    background-color: #01916a;
  }
