<div class="page-wrapper compact-wrapper">
  <app-topbar></app-topbar>
  <div class="login-container">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="login-card">
        <div class="w-100">
          <div class="text-center">
            <a class="logo text-center">
              <img
                class="img-fluid mb-4 logo-rentheaven"
                src="../../../../assets/icons/rentheavenlogo.png"
                alt="Logo"
              />
            </a>
          </div>
          <div class="login-main">
            <form (ngSubmit)="handleLogin($event)" autocomplete="off" #frm="ngForm">
              <div class="mb-3">
                <h1>
                  <strong>Iniciar sesión</strong>
                </h1>
                <small style="color: #4f4f4f">
                  Ingrese sus credenciales para acceder a su cuenta
                </small>
              </div>

              <div class="form-group mb-3">
                <label for="email" class="form-label mb-2">
                  Correo elctrónico
                </label>
                <input #email="ngModel" type="email" class="form-control" id="email" name="email"
                  placeholder="usuario@gmail.com" [(ngModel)]="loginForm.email" [ngClass]="{
                    'is-invalid': email.invalid && email.touched,
                    'is-valid': email.valid && email.touched
                  }" required />
                <div *ngIf="email.invalid" class="invalid-feedback">
                  Digite un correo válido
                </div>
              </div>

              <div class="form-group mb-4">
                <label for="password" class="form-label mb-2">Contraseña</label>
                <div class="form-input position-relative">
                  <input #password="ngModel" type="password" class="form-control" id="password" name="password"
                  placeholder="**********" [(ngModel)]="loginForm.password" [ngClass]="{
                    'is-invalid': password.invalid && password.touched,
                    'is-valid': password.valid && password.touched
                  }" required />
                  <div *ngIf="password.invalid" class="invalid-feedback">
                    Digite una contraseña válida
                  </div>
                </div>
              </div>

              <div class="d-flex align-items-center mb-3">
                <a href="/forgot-password"  class="no-underline green-text-rh padding-right">
                  ¿Olvidaste tu contraseña?
                </a>
                <a href="/signup"  class="no-underline green-text-rh">
                  Registrarse
                </a>
                <div class="form-group mb-0 login-button">
                  <button class="btn btn-primary btn-block w-100 green-button" type="submit">
                    Iniciar sesión
                  </button>
                  @if(loginError) {
                    <p class="text-danger">{{loginError}}</p>
                  }
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 footer-copyright">
          <p class="mb-0 text-white">
            &copy; <span class="number">2024</span> RentHeaven. Todos los derechos reservados.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>