<div class="mb-3">
    <label for="tipoPropiedad" class="form-label">Tipo de Propiedad</label>
    <select class="form-select" id="tipoPropiedad" name="tipoPropiedad" (change)="onTipoPropiedadChange($event)"
      [class.is-invalid]="tipoPropiedadInvalid" [class.is-valid]="!tipoPropiedadInvalid && tipoPropiedadTouched" required>
      <option value="">Seleccione un Tipo de Propiedad</option>
      <option *ngFor="let tp of tipoPropiedades" [value]="tp.tipoPropiedadId ?? ''"
        [selected]="tipoPropiedad.tipoPropiedadId === tp.tipoPropiedadId">
        {{ tp.nombre }}
      </option>
    </select>
    <div *ngIf="tipoPropiedadInvalid" class="invalid-feedback">
      Seleccione un Tipo de Propiedad
    </div>
  </div>