.table-wrapper {
    box-shadow: 1px 1px 10px 1px #cbcdcf;
    overflow-x: auto;
}

.fa:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity ease 150ms;
}

.icon-blue {
    color: #132d46;
}

.icon-trash {
    margin-left: 20px;
    color: rgba(255, 0, 0, 0.733);
}

.delete-wrapper {
    padding-bottom: 20px;
    margin: 10%;
}

.delete-success {
    color: green;
    padding-top: 15px;
}

.btn-green {
    background-color: #01c38e;
    color: white;
    margin-right: 50px;
  }
.btn-green:hover {
    background-color: #01916a;
  }

  th, td {
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    padding: 8px 16px;
  }
  
  @media screen and (max-width: 767px) {
    .table-wrapper table {
      width: 100%; /* Asegura que la tabla ocupe todo el ancho en pantallas pequeñas */
    }
  
    .table-wrapper th, .table-wrapper td {
      padding: 8px 12px; /* Reduce el padding para pantallas pequeñas */
    }
  }