<form (ngSubmit)="handleAction(frm)" autocomplete="off" #frm="ngForm" class="add-user-container">
  <h3 class="mb-5 px-5">{{title}}</h3>
  <div class="border-bottom pb-3 mb-3">
    <div class="px-5">
      <label for="email" class="form-label mb-2">Email Address</label>
      <input #email="ngModel" type="text" class="form-control" id="email" name="email" 
        placeholder="user@gmail.com"
        [(ngModel)]="user.email" 
        [ngClass]="{ 'is-invalid': email.invalid && email.touched, 'is-valid': email.valid && email.touched }" 
        required />
      <div *ngIf="email.invalid && email.touched" class="invalid-feedback">Please add a valid email</div>
    </div>
  </div>
  
  <div class="border-bottom pb-3 mb-3 px-5">
    <div class="row">
      <div class="col-6">
        <label for="nombre" class="form-label mb-2">Nombre</label>
        <input #nombre="ngModel" type="text" class="form-control" id="nombre" name="nombre" 
          placeholder="Carlos"
          [(ngModel)]="user.nombre" 
          [ngClass]="{ 'is-invalid': nombre.invalid && nombre.touched, 'is-valid': nombre.valid && nombre.touched }" 
          required />
        <div *ngIf="nombre.invalid && nombre.touched" class="invalid-feedback">Please add a valid nombre</div>
      </div>
      <div class="col-6">
        <label for="apellido" class="form-label mb-2">Apellido</label>
        <input #apellido="ngModel" type="text" class="form-control" id="apellido" 
          name="apellido" 
          placeholder="Hernández"
          [(ngModel)]="user.apellido" 
          [ngClass]="{ 'is-invalid': apellido.invalid && apellido.touched, 'is-valid': apellido.valid && apellido.touched }" 
          required />
        <div *ngIf="apellido.invalid && apellido.touched" class="invalid-feedback">Please add a valid apellido</div>
      </div>
      <div class="col-6 pt-3" *ngIf="action === 'add'">
        <label for="password" class="form-label mb-2">Password</label>
        <input #password="ngModel" type="password" class="form-control" id="password"    
          name="password" 
          placeholder="*****"
          [(ngModel)]="user.password" 
          [ngClass]="{ 'is-invalid': password.invalid && password.touched, 'is-valid': password.valid && password.touched }" 
          required />
        <div *ngIf="password.invalid && password.touched" class="invalid-feedback">Please add a valid password</div>
      </div>
      <div class="col-6 pt-3">
        <label for="ubicacion_id" class="form-label mb-2">Ubicación</label>
        <input #ubicacion_id="ngModel" type="number" class="form-control" id="ubicacion_id" name="ubicacion_id" 
          placeholder="1"
          [(ngModel)]="user.ubicacion_id" 
          [ngClass]="{ 'is-invalid': ubicacion_id.invalid && ubicacion_id.touched, 'is-valid': ubicacion_id.valid && ubicacion_id.touched }" 
          required />
        <div *ngIf="ubicacion_id.invalid && ubicacion_id.touched" class="invalid-feedback">Please add a valid ubicacion_id</div>
      </div>
      <div class="col-6 pt-3">
        <label for="photo" class="form-label mb-2">Fotografía</label>
        <input 
        #photo="ngModel"
    type="file" 
    class="form-control" 
    id="photo" 
    name="photo" 
    (change)="onFileChange($event)" 
    type="text" [(ngModel)]="user.photo"

    [ngClass]="{ 
      'is-invalid': photo.invalid && photo.touched,
      'is-valid': photo.valid && photo.touched
    }" 
    required
  />
        <div *ngIf="photo.invalid && photo.touched" class="invalid-feedback">Please add a valid URL de la fotografía</div>
      </div>
    </div>
  </div>
  
  <div class="pb-3 mb-3 d-flex justify-content-center align-items-center">
    <button type="submit" class="btn btn-primary d-flex align-items-center">
      <i class="fa-solid white me-2" [ngClass]="{'fa-plus': action == 'add', 'fa-pencil': action == 'edit'}"></i>
      <p class="mb-0">{{title}}</p>
    </button>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div *ngIf="feedbackMessage.message" class="pb-0" [ngClass]="{ 'text-danger': feedbackMessage.type == 'ERROR', 'text-success': feedbackMessage.type == 'SUCCESS' }">{{feedbackMessage.message}}</div>
  </div>
</form>
