:root {
  --theme-default: #01c38e;
  --theme-secondary: #0c65e9;
  --light-background: rgba(242, 243, 247, 0.7);
  --body-font-color: #2f2f3b;
  --chart-border: #ecf3fa;
  --recent-chart-bg: #fcfcfd;
  --light-bg: #f6f7f9;
  --white: #fff;
  --light2: #f5f6f9;
  --sidebar-border: rgba(0, 0, 0, 0.1);
  --chart-text-color: rgba(82, 82, 108, 0.8);
  --recent-dashed-border: rgba(82, 82, 108, 0.3);
  --chart-dashed-border: rgba(82, 82, 108, 0.2);
  --chart-progress-light: rgba(82, 82, 108, 0.1);
  --recent-box-bg: #f2f4f7;
  --recent-border: rgba(97, 101, 122, 0.25);
  --course-light-btn: #f2f3f7;
  --course-bg: #f7f7f7;
  --balance-profie-bg: #e0dfef;
  --view-grid-bg: #ecf3fa80;
  --view-border-marker: #cfcdfc;

  --fc-button-bg-color: var(--theme-default);
  --fc-button-active-bg-color: var(--theme-default);
  --fc-button-active-border-color: var(--theme-default);
  --fc-button-border-color: var(--theme-default);
  --fc-button-hover-bg-color: var(--theme-default);
  --fc-button-hover-border-color: var(--theme-default);
}

body[class="dark-only"] {
  --light-background: rgba(31, 32, 40, 0.65);
  --recent-chart-bg: #262932;
  --light-bg: #1d1e26;
  --white: #262932;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --light2: #1d1e26;
  --chart-border: #374558;
  --recent-box-bg: #1d1e26;
  --recent-border: #374558;
  --body-font-color: rgba(255, 255, 255, 0.6);
  --course-light-btn: var(--light-bg);
  --view-grid-bg: var(--light-bg);
  --view-border-marker: #2c2c45d4;
}
// scss variables
@import "./assets/utils/variables";
//start template styles
@import "./assets/layout/layout.scss";
//end template styles

@font-face {
  font-family: 'Codec';
  src: url('./assets/fonts/Codec-Cold-Regular-trial.ttf') format('truetype');
}

body {
  margin: 0;
  // font-family: 'Codec', sans-serif !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.number {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error-snackbar .mdc-snackbar__surface{
  background-color: rgb(197, 49, 49) !important;
}

// Estilos opciones barra navegacion
.opcionesNavegacion {
  display: flex;
  align-items: center;
  justify-content: center; // Centra el contenido horizontalmente
  text-align: left;      // Centra el texto dentro del <li>
  list-style: none;        // Elimina los puntos de la lista
  padding: 10px;          // Espaciado interno opcional
  margin: 5px 0;          // Espaciado externo opcional

  // Estilo del icono
  i {
    margin-right: 8px;    // Espacio entre el icono y el texto
    font-size: 1.2rem;    // Tamaño del icono
    color: #000;
  }

  // Estilo del texto
  span {
    font-size: 14px;            // Tamaño de fuente del texto
    // font-weight: bold;    // Negrita opcional
  }

  // Estilo cuando el <li> es hovered
  &:hover {
    background-color: #f0f0f0; // Color de fondo cuando se pasa el cursor
    cursor: pointer;            // Cambia el cursor al pasar el mouse
    border-radius: 4px;         // Bordes redondeados opcional
  }

  // Estilo cuando el <li> es activo (si lo necesitas)
  &.active {
    background-color: #e0e0e0; // Color de fondo para el elemento activo
    font-weight: bold;         // Negrita para el texto activo
  }

}

.texto-blue {
  color: #132d46;
}

.background-blue {
  background-color: #132d46;
}

.success-bar {
  background-color: rgb(3, 136, 3);
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: #bcbec0;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #939496; 
}