.profile-dropdown {
    position: fixed !important;
    left: 91% !important;
    top: 60px !important;
}

.opcionesNavegacion {
   justify-content: left !important;
}

.icon-blue {
    color: #132d46;
}