<div class="container-fluid">
  <div>
    <h2>Ubicaciones</h2>
  </div>
  <div>
    @defer {
    <div class="d-flex justify-content-end pb-2">
      <button type="button" class="btn btn-primary d-flex align-items-center" (click)="formModal.show()">
        <i class="fa-solid fa-plus white"></i>
        <p class="mb-0">Agregar Ubicacion</p>
      </button>
    </div>
    <app-ubicacion-list [ubicacionList]="service.ubicaciones$()" [provincias]="service.provincias$()"
      [cantones]="service.cantones$()" [distritos]="service.distritos$()"></app-ubicacion-list>
    } @loading (after 100ms; minimum 1s){
    <app-loader></app-loader>
    }
    <app-ubicacion-selector (ubicacionChange)="onUbicacionChange($event)" [provincias]="service.provincias$()"
      [cantones]="service.cantones$()" [distritos]="service.distritos$()" [ubicacion]="ubicacionTest">
    </app-ubicacion-selector>
  </div>
</div>
<!-- <div class="container-fluid">
  <app-imagen
  [listaImagenes]="imagenService.imagenesPropiedad$()"
  [propiedadImagen]="propiedadTest"
  (regImagenes)="onRegistroImagenes($event)"
  />
</div> -->

<app-amenidad
[amenidades]="amenidadService.amenidades$()"
(amenidadesChange)="onAmenidadChange($event)"
></app-amenidad>

<app-tipo-propiedad
[tipoPropiedades]="tipoPropService.tipoPropiedades$()"
(tipoPropiedadChange)="onTipoPropiedadChange($event)"
></app-tipo-propiedad>

<app-modal size="lg" #formModal>
  <app-ubicacion-form [action]="'add'" [provincias]="service.provincias$()" [cantones]="service.cantones$()"
    [distritos]="service.distritos$()">
    <div [title]="'Agregar Ubicacion'"></div>
  </app-ubicacion-form>
</app-modal>
